[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = git@github.com:charlie-ht/Vulkan-Headers.git
